<mat-accordion>
    <mat-expansion-panel [expanded]='false'>
    <mat-expansion-panel-header>
      <mat-panel-title>User Info</mat-panel-title>
    </mat-expansion-panel-header>
    <form (ngSubmit)='onSubmit()' novalidate [formGroup]="userFormGroup">
      <mat-form-field class='full-width'>
        <input matInput placeholder="Username" name="username" [(ngModel)]='user.username' formControlName='username'
          required autocomplete="off" maxlength="100" />
        <mat-error *ngIf="username.hasError('required')">Username is <strong>required</strong> </mat-error>
        <mat-error *ngIf="username.hasError('maxlength')">Username is <strong>too long</strong> </mat-error>
      </mat-form-field>
      <div class='full-width'>
        <mat-form-field class='half-width'>
          <input matInput placeholder="Display Name" name="displayName" [(ngModel)]='user.displayName'
            formControlName='displayName' required autocomplete="off" maxlength="100" />
          <mat-error *ngIf="displayName.hasError('required')">Display Name is
            <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="displayName.hasError('maxlength')">Display Name is <strong>too long</strong> </mat-error>
        </mat-form-field>
        &nbsp;
        <mat-form-field class='half-width'>
          <input matInput placeholder="Email" name="email" [(ngModel)]='user.email' formControlName='email' required
            autocomplete="off" maxlength="100" />
          <mat-error *ngIf="email.hasError('required')">Email is
            <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="email.hasError('maxlength')">Email is <strong>too long</strong> </mat-error>
        </mat-form-field>
      </div>
      <div class='full-width'>
        <mat-form-field class='half-width'>
          <input matInput placeholder="Password" name="password" [(ngModel)]='user.password' formControlName='password'
            required autocomplete="off" type='password' />
          <mat-error *ngIf="password.hasError('required')">Password is <strong>required</strong> </mat-error>
        </mat-form-field>
        &nbsp;
        <mat-form-field class='half-width'>
          <input matInput placeholder="Confirm Password" name="confirmPass" formControlName='confirmPass' required
            autocomplete="off" type='password' />
          <mat-error *ngIf="confirmPass.hasError('nonMatching')">Passwords do not match</mat-error>
        </mat-form-field>
      </div>
      <div class='flex-row'>
        <div class='flex-grow'></div>
        <button mat-raised-button color='primary' type='submit' [disabled]="!userFormGroup.valid">Update</button>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>